/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/

// Cores
$cl1 : #fff;  // blue
$cl2 : #c0392b;  // red
$cl3 : #2a2a2a;  // gray
$cl4 : #29aa64;  // green
$cl5 : #f1c40f;  // yellow
$cl6 : #46e9f1;  // yellow

// Fontes
$ft1  : "titillium-semibold-webfont-webfont";
$fta1 : 'titillium-semibold-webfont-webfont';

$ft2  : "st_ryde_mediummedium";
$fta2 : 'stryde_medium-webfont';


// Tamanhos
$t-pp    : .750em;      // 12px
$t-p      : .875em;     // 14px
$t-m     : 1em;         // 16px
$t-g      : 1.5em;      // 24px
$t-gg    : 1.875em;   // 30px
$t-ggg  : 1.875em;   // 30px

// Grid
$pad  : 10px;
$full : 100%;
$center : 990px;

/*  constants */
$imp : !important;
$dno : none;
$dbl : block;
$dbl : block;
